# {{ ansible_managed }}
db.host={{ shopware_db_host }}
db.name={{ shopware_db_name }}
db.user={{ shopware_db_user }}
db.password={{ shopware_db_pass }}

app.path={{ shopware_app_path }}
app.host={{ shopware_app_host }}
